  .cardcontainer{
    height:700px;
    width: 1000px;
    /* border:2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    /* border:2px solid black; */
    height: 680px;
    width: 400px;
  } 

  .profile-image-container {
    width: 100%;
    height: 320px;
    /* border: 2px solid black; */
    padding: 0; /* Remove padding */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin:0 auto;
   
  }
  
  .image-placeholder {
    width: 100%; 
    height: 100%;
    border-radius: 20px;
    object-fit: contain; /* Change to contain to show full image */
    background-size: contain; /* Ensure background image is fully visible */
    background-repeat: no-repeat;
    background-position: center;
  }
  .profile-info {
    padding: 24px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    gap: 12px; 
  }
  
  .profile-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 4px;
    text-align: center; 
  }

  .reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-bottom: 12px;
  }
  
  .star-icon {
    flex-shrink: 0;
  }
  
  .rating {
    font-weight: 600;
    font-size: 16px;
  }
  
  .review-count {
    color: #666;
    font-size: 14px;
  }
  
  .profile-details {
    display: flex;
    flex-direction: column; 
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    margin-top: 10px;
  }
  
  .detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .label {
    font-size: 15px;
    color: #1f1e1e;
    margin-right: 8px;
  }
  
  .value {
    font-size: 16px;
    font-weight: bold;
  }
  
  .contact-button {
    width: 180px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 24px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }
  
  .extra-info {
    margin: 0 auto;
    font-size: 16px;
    color: #ff6b6b;
    font-weight: bold;
    margin-top: 10px;
  }
